
/* ----------------------------
   Global styling
----------------------------- */
body {
    font-family: "Segoe UI", Arial, sans-serif;
}

/* ----------------------------
   Hero Section
----------------------------- */
.hero-section {
    height: 40vh;
    background: linear-gradient(to right, #0066cc, #003d99);
    margin-bottom: 30px;

/* nav bar Styling */
.navbar .navbar-brand {
    margin: 0;
}

.navbar img {
    object-fit: contain;
}

/* Card styling */
.card {
    border-radius: 14px !important;
}

.card-header {
    font-size: 1.2rem;
}

/* Inputs */
input, select, textarea {
     transition: all 0.25s ease-in-out !important;
    border-radius: 8px !important;
     transform: scale(1);  
}
/* Focus animation */
input:focus,
select:focus,
textarea:focus {
    border: 2px solid #0066cc !important;
    box-shadow: 0 0 8px rgba(0, 102, 204, 0.4) !important;
    transform: scale(1.02);   /* Smooth zoom */
    background-color: #2a3138;
}

/* Hover effect */
input:hover,
select:hover,
textarea:hover {
    border-color: #003d99 !important;
    transition: 0.25s ease-in-out;
}


/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #555;
    margin-top: 40px;
}
.footer a {
    color: #007bff;
    text-decoration: none;
>>>>>>> f26ce39 (Initial commit)
}
}